@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860  
*@
@model Webzine.ViewModels.CommentairesViewModel

<div class="mb-5">
    <!-- condition qui vérifie si le model est null puis si le commentaire est null -->
    @if (Model is null){

        <h2>Erreur! Modèle nul.</h2>
    }else{

        if(Model.ContextCommentaire is null){
            <h2>Erreur! Commentaire nul.</h2>
        }else{

            <h2>Supprimer un commentaire</h2>
	        <hr />

	        <form method="post" asp-area="administration" asp-controller="commentaire" asp-action="delete" asp-route-id="@Model.ContextCommentaire.IdCommentaire" >
		        <p class="row ms-0">Etes-vous sûr de vouloir supprimer le commentaire suivant ?</p>
                <p>@Model.ContextCommentaire.Contenu</p>
                <p>-- @Model.ContextCommentaire.Auteur le @Model.ContextCommentaire.DateCreation sur <a asp-area="" asp-controller="titre" asp-action="titre" asp-route-idTitre="@Model.ContextTitre.IdTitre">@Model.ContextTitre.Libelle</a></p>

		        <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>

		        <a class="row text-decoration-none ms-0 mt-4" asp-action="Index" >Retour à l'administration des commentaires</a>
        }
    }
</div>

