@{ 
    Layout = "_Layout"; 
}
@using Webzine.Entity
@model Titre
		
<h1 class="ArtisteChronique"><a href="#">@Model.Artiste.Nom</a> - @Model.Libelle</h1>
		
<div>
	<section class="infoTitre">
		<p><i class="fas fa-calendar"></i>Le @Model.DateCreation</p>
		<p><i class="fas fa-heart"></i> @Model.NbLikes</p>
		<p>Style : 
			@if(@Model.TitresStyles.Count != 0)
			{
				foreach(TitreStyle style in @Model.TitresStyles)
				{
					<a href="#">@Model.TitresStyles</a>
				}
			}else
			{
				<a href="#">il n'y a pas de style ! en ajouter</a>
			}
		</p>
		<p><a href="#">Like</a></p>
		<p><a href="#">Editer</a></p>
	</section>
	
</div>

<div class="divImgChronique">
	<img class="imgJaquetteTitre" src="@Model.UrlJaquette" alt="Img Titre"/>
	<p>@Model.Chronique</p>
</div>

<iframe class="VideoEcoute" src="@Model.UrlEcoute" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	
<div class="formCommentaire">
	<h2>Donne ton avis sur le titre</h2>
	
	<form action="">
		<div class="mb-3 row">
			<label for="nomCommentaire" class="col-sm-2 col-form-label">Nom <span style="color: red;">*</span></label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="nomCommentaire" required placeholder="Votre nom (exemple : Emmanuel)">
			</div>
		</div>
		<div class="mb-3 row">
			<label for="contenuCommentaire" class="col-sm-2 col-form-label">Commentaire <span style="color: red;">*</span></label>
			<div class="col-sm-10">
				<textarea class="form-control" id="contenuCommentaire" rows="3" required placeholder="Votre commentaire..."></textarea>
			</div>
		</div>
		<div class="mb-3 row">
			<label class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<button type="button" class="btn btn-primary">Envoyer</button>
			</div>
		</div>
	</form>
</div>

<h2>Commentaires</h2>
	<div class="listeCommentaire">
		@if(@Model.Commentaires.Count != 0)
		{
			@foreach(Commentaire leCommentaire in @Model.Commentaires)
			{
				<p>il y a des commentaire</p>
			}
		}
		else
		{
			<p>il n'y a pas de commentaire</p>
		}
	</div>

					
