
@{
}

<div class="p-4">
<h2 class="mb-3">Titres</h2>
<hr />
<a href="/administration/titre/creation" class="btn btn-primary mb-3"><i class="fas fa-plus me-2"></i>Ajouter un nouveau titre</a>

<table class="table table-bordered table-striped">
	<thead>
		<tr class="table-active">
			<th class="col-2" scope="col"><span>Artiste</span></th>
			<th class="col-3" scope="col"><span>Titre</span></th>
			<th class="col-1" scope="col"><span class="d-flex justify-content-center">Durée</span></th>
			<th class="col-2" scope="col"><span class="d-flex justify-content-center">Date de sortie</span></th>
			<th class="col-1" scope="col"><span class="d-flex justify-content-center"><i class="fas fa-eye"></i></span></th>
			<th class="col-1" scope="col"><span class="d-flex justify-content-center"><i class="fas fa-thumbs-up"></i></span></th>
			<th class="col-1" scope="col"><span class="d-flex justify-content-center"><i class="fas fa-comment"></i></span></th>
			<th class="col-2" scope="col"><span class="d-flex justify-content-center">Actions</span></th>
		</tr>
	</thead>
	<tbody>
		
		@foreach (var titre in Model)
		{
			<tr>
				<td>@titre.Artiste.Nom</td>
				<td>@titre.Libelle</td>
				<td>@titre.Duree</td>
				<td>@titre.DateSortie</td>
				<td>@titre.NbLectures</td>
				<td>@titre.NbLikes</td>
				<td>@titre.Commentaires.Count</td>
				<td class="d-flex justify-content-center"><a href="/administration/titre/edit?IdTitre=@titre.IdTitre"><i class="fas fa-edit me-2"></i></a><a href="/administration/titre/suppression?IdTitre=@titre.IdTitre"><i class="fas fa-trash"></i></a></td>
			</tr>
		}

	</tbody>
</table>

</div>
