@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Webzine.WebApplication.ViewModels.TitreViewModel;
@using Webzine.Entity;

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h2>Titres ayant le style @Model.LibelleStyle</h2>
@if (Model.Titres.Count == 0)
{
    <content>Aucun titre trouv&eacute</content>
}
else
{
    <ul class="list-unstyled">
        @foreach (Titre titre in Model.Titres)
        {
            <li class="media">
                <a asp-controller="Titre" asp-action="Titre" asp-route-idTitre="@titre.IdTitre">
                    <img src=@titre.UrlJaquette class="icon mr-3" alt="..." />
                </a>
                <div class="media-body">
                    <div class=" d-flex flex-row">
                        <a asp-controller="Artiste" asp-action="Artiste" asp-route-nomArtiste="@titre.Artiste.Nom">
                            <h5 class="mt-0 mb-1">@titre.Artiste.Nom</h5>
                        </a>
                        -
                        <a asp-controller="Titre" asp-action="Titre" asp-route-idTitre="@titre.IdTitre">
                            <h5 class="mt-0 mb-1"> @titre.Libelle</h5>
                        </a>
                    </div>

                    Durée : @Model.FormatLength(titre)
                </div>
            </li>
        }
    </ul>
}

<style>
	.icon {
        max-width: 60px;
        max-height: 60px;
        margin-bottom: 10px
    }
</style>