@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Webzine.WebApplication.ViewModels.TitreViewModel;
@using Webzine.Entity;

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h2>Titres ayant le style @Model.LibelleStyle</h2>
<hr />

@if (Model.Titres.Count == 0)
{
    <content>Aucun titre trouv&eacute</content>
}
else
{
    <ul class="list-unstyled">
        @foreach (Titre titre in Model.Titres)
        {
            
                
                    @*<div class=" d-flex flex-row">*@
               
            <li class="media">
                <div class="iconRechercheStyle">
                    <a asp-controller="Titre" asp-action="Titre" asp-route-idTitre="@titre.IdTitre">
                        <img src=@titre.UrlJaquette class="iconRechercheStyleimg mr-3 mb-5" alt="..." />
                    </a>
                </div>
                <div class="media-body">
                    <div class=" d-flex flex-row">
                        <p class="mt-0 mb-1  fs-4"><a asp-controller="Artiste" asp-action="Artiste" asp-route-nomArtiste="@titre.Artiste.Nom">@titre.Artiste.Nom</a> - 
                            <a asp-controller="Titre" asp-action="Titre" asp-route-idTitre="@titre.IdTitre">@titre.Libelle</a>
                        </p>
                    </div>
                    <p>Durée : @Model.FormatLength(titre)</p>
                </div>
            </li>
        }
    </ul>
}