@model Webzine.WebApplication.Areas.Admin.ViewModels.TitreViewModel;
@{
	string date = "";
     if (Model.Titre.DateSortie != null) 
		{ date = DateTime.Parse($"{Model.Titre.DateSortie }").ToString("yyyy-MM-dd");}
}

<div>
	<div class="divSup">
	<h2>Editer un Titre</h2>
	<hr />
	@* asp-route-id="@Model.Titre.IdTitre" *@
	<form class="formAdmin" method="post" asp-area="administration" asp-controller="titre" asp-action="editAsk" asp-route-id="@Model.Titre.IdTitre">
		<div class="mb-3 row">
			<label for="nomArtiste" class="col-sm-2 col-form-label">Nom de l'artiste<span style="color: red;">*</span></label>
			<div class="col-sm-10">
				<select name="model.Titre.IdArtiste" class="form-select">
					@foreach(var artiste in Model.Artistes)
					{
						@if(@artiste.Nom == @Model.Titre.Artiste.Nom){
							<option value="@artiste.IdArtiste" selected>@artiste.Nom</option>		
						}else{
							<option value="@artiste.IdArtiste">@artiste.Nom</option>
						}
					}
				</select>
			</div>
		</div>

		<div class="mb-3 row">
			<label for="libelleTitre" class="col-sm-2 col-form-label">Titre<span style="color: red;">*</span></label>
			<div class="col-sm-10">
				<input name="model.Titre.Libelle" type="text" class="form-control" id="libelleTitre" value="@Model.Titre.Libelle" required placeholder="Libelle du Titre"></input>
			</div>
		</div>

        <div class="mb-3 row">
			<label for="chroniqueTitre" class="col-sm-2 col-form-label">Chronique<span style="color: red;">*</span></label>
			<div class="col-sm-10">
				<textarea name="model.Titre.Chronique" class="form-control" id="chroniqueTitre" rows="8" required placeholder="Chronique du Titre">@Model.Titre.Chronique</textarea>
			</div>
		</div>

        <div class="mb-3 row">
			<label for="dateSortieTitre" class="col-sm-2 col-form-label">Date de sortie<span style="color: red;">*</span></label>
			<div class="col-sm-4">
				<input name="model.Titre.DateSortie" class="form-control" asp-for="@Model.Titre.DateSortie" asp-format="{0:yyyy-MM-dd}" required/>
			</div>

            <label for="dureeTitre" class="col-sm-2 col-form-label">Durèe en seconde<span style="color: red;">*</span></label>
			<div class="col-sm-4" style="display: inline-flex;">
				<input name="model.Titre.Duree" type="number" class="form-control" id="dureeTitre" value="@Model.Titre.Duree" required></input>
				<label class="input-group-text">Secondes</label>
			</div>
            
		</div>

        <div class="mb-3 row">
			<label for="jaquetteTitre" class="col-sm-2 col-form-label">Jaquette de l'album<span style="color: red;">*</span></label>
			<div class="col-sm-10">
				<input name="model.Titre.UrlJaquette" type="text" class="form-control" id="jaquetteTitre" value="@Model.Titre.UrlJaquette" required placeholder="Jaquette de l'album"></input>
			</div>
		</div>

        <div class="mb-3 row">
			<label for="urlEcouteTitre" class="col-sm-2 col-form-label">URL d'écoute</label>
			<div class="col-sm-10">
				<input name="model.Titre.UrlEcoute" type="text" class="form-control" id="urlEcouteTitre" value="@Model.Titre.UrlEcoute" placeholder="URL d'écoute"></input>
			</div>
		</div>

        <div class="mb-5 row">
			<label for="styleTitre" class="col-sm-2 col-form-label">Style</label>
			<div class="col-sm-10">
				<section class="row">
					@foreach(var style in Model.Styles)
					{
						<div class="col-sm-4">
							<div class="form-check">									
								@if(@Model.Titre.TitresStyles.FirstOrDefault(s=> s.IdStyle == style.IdStyle) != null)
								{
									<input name="ListeStyles" class="form-check-input" type="checkbox" checked value="@style.IdStyle" id="@style.Libelle">
									<label class="form-check-label" for="@style.Libelle">@style.Libelle</label>
								}
								else
								{
									<input name="ListeStyles" class="form-check-input" type="checkbox" value="@style.IdStyle" id="@style.Libelle">
									<label class="form-check-label" for="@style.Libelle">@style.Libelle</label>
								}
							</div>
						</div>
					}
				</section>
			</div>
		</div>

		<div class="mb-3 row">
			<label for="nbLectureTitre" class="col-sm-2 col-form-label">Nb de lectures<span style="color: red;">*</span></label>
			<div class="col-sm-10">
				<p name="model.Titre.NbLectures">@Model.Titre.NbLectures</p>
			</div>
		</div>

        <div class="mb-3 row">
			<label for="nbLikeTitre" class="col-sm-2 col-form-label">Nb de likes<span style="color: red;">*</span></label>
			<div class="col-sm-10">
				<p name="model.Titre.NbLikes">@Model.Titre.NbLikes</p>
			</div>
		</div>

		<div class="mb-3 row">
			<label class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<button type="submit" class="btn btn-primary">Sauvegarder</button>
			</div>
		</div>
	</form>

	<a class="row text-decoration-none ms-0" asp-area="administration" asp-controller="titre" asp-action="Index">Retour à l'administration des titres</a>
</div>