@model Webzine.WebApplication.Areas.Admin.ViewModels.TitreViewModel

<div class="p-3">
<h2 class="mb-3">Titres</h2>
<hr />
<a asp-area="administration" asp-controller="titre" asp-action="create" class="btn btn-primary mb-3"><i class="fas fa-plus me-2"></i>Ajouter un nouveau titre</a>
<div class="table-responsive">
	<table class="table table-bordered table-striped table-hover">
		<thead> 
			<tr class="table-secondary">
				<th class="d-none d-xxl-block d-xl-block d-lg-block d-md-block" scope="col">Artiste</th>
				<th class="col-3" scope="col">Titre</th>
				<th class=" text-center d-none d-xxl-block d-xl-block d-lg-block" scope="col">Durée</th>
				<th class="text-center" scope="col">Date de sortie</th>
				<th class="text-center d-none d-xxl-block d-xl-block d-lg-block" scope="col"><i class="fas fa-eye"></i></th>
				<th class="text-center" scope="col"><i class="fas fa-thumbs-up"></i></th>
				<th class="text-center d-none d-xxl-block d-xl-block d-lg-block" scope="col"><i class="fas fa-comment"></i></th>
				<th class="text-center" scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			
			@foreach (var titre in Model.Titres)
			{
				<tr >
					<td class="d-none d-xxl-block d-xl-block d-lg-block d-md-block" scope="row">@titre.Artiste.Nom</td>
					<td class="">@titre.Libelle</td>
					<td class="text-center d-none d-xxl-block d-xl-block d-lg-block">@Model.FormatLength(titre)</td>
					<td class="text-center">@titre.DateSortie.ToString("dd/MM/yyyy")</td>
					<td class="text-end d-none d-xxl-block d-xl-block d-lg-block">@titre.NbLectures</td>
					<td class="text-end">@titre.NbLikes</td>
					<td class="text-end d-none d-xxl-block d-xl-block d-lg-block">@titre.Commentaires.Count()</td>
					<td class="text-center"><a asp-area="administration" asp-controller="titre" asp-action="edit" asp-route-id="@titre.IdTitre"><i class="fas fa-edit me-2"></i></a><a asp-area="administration" asp-controller="titre" asp-action="delete" asp-route-id="@titre.IdTitre"><i class="fas fa-trash"></i></a></td>
				</tr>
			}

		</tbody>
	</table>
</div>

</div>
