@{

}

<h2 class="mb-3">Derniers titres chroniqués</h2>
<ul class="list-unstyled">
    @for (var i = 0; i < 2; i++)
    {
        <li>
            <div class="card bg-light mb-3">
                <div class="row">
                    <div class="col-3 col-md-3 col-sm-3">
                        <img src=@Model.Titres[@i].UrlJaquette class="card-img-top" alt="...">
                    </div>
					<div class="d-flex flex-column justify-content-between card-body col-9 col-md-9 col-sm-border-9">
                        <h5><a href="/Artiste/Artiste?idArtiste=@Model.Titres[@i].IdArtiste">@Model.Titres[@i].Artiste.Nom</a> - <a href="/Titre/Titre?idTitre=@Model.Titres[@i].IdTitre">@Model.Titres[@i].Libelle</a></h5>
                        <p class="card-text row p-4">@Model.Titres[@i].Chronique.Substring(0, 250) ...</p>
                        <div class="row">
                            <a href="/Titre/Titre?idTitre=@Model.Titres[@i].IdTitre" class="btn btn-primary text-nowrap col-3 col-md-3 col-sm-3">Lire la suite</a>
                            <p class="text-nowrap col-4 col-md-4 col-sm-4 offset-1">
                                <i class="fas fa-calendar"></i><span class="ms-1">@Model.Titres[@i].DateSortie</span>
                            </p>
                            <p class="text-nowrap col-3 col-md-3 col-sm-9 offset-1">
                                <i class="fas fa-tags"></i> Style :
                               @* @foreach (var style in @Model.Titres[@i].TitresStyles)
                                {
                                    <a href="/Titre/TitresStyle?idStyle=@style.IdStyle" class="text-decoration-none">
                                        <span>@Model.StylesTitre.Libelle.Where(s => s.IdStyle = @style.IdStyle) </span>
                                    </a>
                                }*@

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>

    }


</ul>
<div class="d-flex justify-content-between mb-3">
    <button type="button" class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
        </svg><span style="vertical-align: middle; margin-left: 5px;">Titres plus récents</span>
    </button>
    <button type="button" class="btn btn-secondary">
        <span style="vertical-align: middle;margin-right: 5px;">Titres plus anciens</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
        </svg>
    </button>
</div>
<div>
    <h2 class="mt-4 mb-3">Titres les plus populaires</h2>
	<div class="row">
		@for(int i=2; i<5; i++) //foreach (var titre in Model.TitresPOP)
        {  
			<div class="col-md-4">	
				<div class="card mb-3 bg-light">
					<img class="card-img-top imPopHome" src=@Model.Titres[@i].UrlJaquette alt="Card image cap">
                    <div class="card-body">
                        <a href="" style="text-decoration: none;">@Model.Titres[@i].Libelle</a>
                        <div class="">
                            <p>par <a href="" style="text-decoration: none;">Artiste</a></p>
						</div>
					</div>
				</div>
			</div>
        }
	</div>
</div>